
body {
    margin: 25px;
    padding: 0;
    box-sizing: border-box;
}


.Vermelho {
    display: flex;
    background-color: darkmagenta;
    padding: 20px;
    margin-bottom: 25px;
    justify-content: space-between;
}
.logo {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    align-items: center;
    font-family: "Arial Black";
}
.lista {
    display: flex;
    justify-content: space-between;

}
.lista div{
    display: flex;
    margin: 10px;
}

.azul {
    display: flex;
    background-color: #3b82f6;
    height: 300px;
    margin-bottom: 25px;
}

.section {
    display: flex;
    width: 100%;
    gap: 10px;

}

.section div {
    display: flex;
    justify-content: space-around;
    background-color: #7aa2ff;
    height: 250px;
    flex: auto;

}