body {
    background-color: black;
}
.titulo{

    text-align:center;
    color: red;

}

.text-maior {
    background-color: red;
    color: white;
    font-size: 36px;
    font-family: "arial";
}







